// font-family: sweet-sans-pro, sans-serif;
// Light 500
// Regular 600
// Medium 700
// Bold 800
// Heavy 900

@import url("https://use.typekit.net/snf1djc.css");

// font-family: "Austin", sans-serif;

@font-face {
  font-family: "Austin";
  src: url("../fonts/austin/Austin-Light.woff2") format("woff2"),
    url("../fonts/austin/Austin-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Austin Roman";
  src: url("../fonts/austin/Austin-Roman.woff2") format("woff2"),
    url("../fonts/austin/Austin-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Austin";
  src: url("../fonts/austin/Austin-LightItalic.woff2") format("woff2"),
    url("../fonts/austin/Austin-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Austin Roman";
  src: url("../fonts/austin/Austin-Italic.woff2") format("woff2"),
    url("../fonts/austin/Austin-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
