////////////////////////
// Fonts
///////////////////////

// Page fonts
$openSans: 'Open Sans', sans-serif;
$myriad: 'Myriad Pro', sans-serif;

////////////////////////
// Colors
///////////////////////

// Black
$black: #000000;

// white
$white: #fff;

//gray's

$gray-1: #f2f2f2;
$gray-3: #9395a5;
$gray-4: #707070;

//pink
$pink-2: #e81f76;
$pink-3: #ff78d0;

//blue
$blue-6: #001e61;

//green's
$green-2: #4dceb5;
