.horizontalPagination__container {
    position: relative;
    &.with-border {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            max-width: calc(100% - 30px);
            height: 1px;
            background-color: black;
            margin: auto;
        }
    }
}

.horizontalPagination__pagination {
    text-align: center;
    span {
        font-size: 16px;
        line-height: 1;
    }

}

@include breakpoint(sm) {

    .horizontalPagination__container {
        &.with-border {
            &::after {
                max-width: calc(540px - 30px);
            }
        }
    }

    .horizontalPagination__content {
        max-width: 540px;
        margin: 0 auto;
    }
}

@include breakpoint(md) {
    .horizontalPagination {
        height: 100%;
    }
    .horizontalPagination__container  {
        height: 100%;
        display: flex;
        &.with-border {
            &::after {
                top: 0;
                max-width: 1px;
                max-height: calc(100% - 30px);
                height: 100%;
                left: initial;
                right: 0;
            }
        }
        .text * {
            font-size: 24px;
        }
    }
    .horizontalPagination__pagination {
        display: flex;
        align-items: center;
        padding: 15px 0;
        span {
            display: block;
            font-size: 25px;
        }
    }

}